@if (isAddingTask) {
  <app-new-task [userId]="user.id" (closeModal)="onCancelAddTask()" (add)="onAddTask($event)"></app-new-task>
}
<section id="tasks">
  <header>
    <h2>{{ user?.name }}'s Tasks</h2>
    <menu>
      <button (click)="onStartAddTask()">
        Add Task
      </button>
    </menu>
  </header>
  <ul>
    @for (task of tasks; track task.id) {
      @if (task.userId === user.id) {
        <li>
          <app-task [task]="task" (complete)="onCompleteTask($event)"></app-task>
        </li>
      }
    }
  </ul>
</section>
