<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <h2>Welcome on board!</h2>
  <p>We just need a little bit of data from you to get you started 🚀</p>

  <div class="control">
    <label for="email">Email</label>
    <input formControlName="email" id="email" name="email" type="email"/>
  </div>

  <div class="control-row" formGroupName="passwords">
    <div class="control">
      <label for="password">Password</label>
      <input
        formControlName="password"
        id="password"
        name="password"
        type="password"
      />
    </div>

    <div class="control">
      <label for="confirm-password">Confirm Password</label>
      <input
        formControlName="confirmPassword"
        id="confirm-password"
        name="confirm-password"
        type="password"
      />
    </div>
  </div>

  <hr/>

  <div>
    <div class="control-row">
      <div class="control">
        <label for="first-name">First Name</label>
        <input
          formControlName="firstName"
          id="first-name"
          name="first-name"
          type="text"
        />
      </div>

      <div class="control">
        <label for="last-name">Last Name</label>
        <input
          formControlName="lastName"
          id="last-name"
          name="last-name"
          type="text"
        />
      </div>
    </div>

    <fieldset formGroupName="address">
      <legend>Your Address</legend>

      <div class="control-row">
        <div class="control">
          <label for="street">Street</label>
          <input formControlName="street" id="street" name="street" type="text"/>
        </div>

        <div class="control">
          <label for="number">Number</label>
          <input formControlName="number" id="number" name="number" type="text"/>
        </div>
      </div>

      <div class="control-row">
        <div class="control">
          <label for="postal-code">Postal Code</label>
          <input formControlName="postalCode" id="postal-code" name="postal-code" type="text"/>
        </div>

        <div class="control">
          <label for="city">City</label>
          <input formControlName="city" id="city" name="city" type="text"/>
        </div>
      </div>
    </fieldset>
  </div>

  <hr/>

  <div class="control-row">
    <div class="control">
      <label for="role">What best describes your role?</label>
      <select formControlName="role" id="role" name="role">
        <option value="student">Student</option>
        <option value="teacher">Teacher</option>
        <option value="employee">Employee</option>
        <option value="founder">Founder</option>
        <option value="other">Other</option>
      </select>
    </div>
  </div>

  <fieldset formArrayName="source">
    <legend>How did you find us?</legend>
    <div class="control">
      <input
        formControlName="0"
        id="google"
        name="acquisition"
        type="checkbox"
        value="google"
      />
      <label for="google">Google</label>
    </div>

    <div class="control">
      <input
        formControlName="1"
        id="friend"
        name="acquisition"
        type="checkbox"
        value="friend"
      />
      <label for="friend">Referred by friend</label>
    </div>

    <div class="control">
      <input
        formControlName="2"
        id="other"
        name="acquisition"
        type="checkbox"
        value="other"
      />
      <label for="other">Other</label>
    </div>
  </fieldset>

  <div class="control-row">
    <div class="control">
      <label for="terms-and-conditions">
        <input
          formControlName="agree"
          id="terms-and-conditions"
          name="terms"
          type="checkbox"
        />
        I agree to the terms and conditions
      </label>
    </div>
  </div>

  <p class="form-actions">
    <button class="button button-flat" type="reset">Reset</button>
    <button class="button" type="submit">Sign up</button>
  </p>
  @if (form.invalid && form.touched) {
    <p class="control-error">Invalid form.</p>
  }
</form>
