<app-header/>
<main>
  <ul *ngIf="users" id="users">
    <li>
      <app-user (select)="onSelectUser($event)" [user]="users[0]"/>
    </li>
    <li>
      <app-user (select)="onSelectUser($event)" [user]="users[1]"/>
    </li>
    <li>
      <app-user (select)="onSelectUser($event)" [user]="users[2]"/>
    </li>
    <li>
      <app-user (select)="onSelectUser($event)" [user]="users[3]"/>
    </li>
    <li>
      <app-user (select)="onSelectUser($event)" [user]="users[4]"/>
    </li>
  </ul>
  <app-tasks [name]="selectedUserName"></app-tasks>
</main>
