<app-header/>
<main>
  <ul *ngIf="users" id="users">
    <li>
      <app-user (select)="onSelectUser($event)" [avatar]="users[0].avatar" [id]="users[0].id" [name]="users[0].name"/>
    </li>
    <li>
      <app-user (select)="onSelectUser($event)" [avatar]="users[1].avatar" [id]="users[1].id" [name]="users[1].name"/>
    </li>
    <li>
      <app-user (select)="onSelectUser($event)" [avatar]="users[2].avatar" [id]="users[2].id" [name]="users[2].name"/>
    </li>
    <li>
      <app-user (select)="onSelectUser($event)" [avatar]="users[3].avatar" [id]="users[3].id" [name]="users[3].name"/>
    </li>
    <li>
      <app-user (select)="onSelectUser($event)" [avatar]="users[4].avatar" [id]="users[4].id" [name]="users[4].name"/>
    </li>
  </ul>
  <app-tasks [name]="selectedUserName"></app-tasks>
</main>
