<article
  [class]="{
    'status-open': task().status === 'OPEN',
    'status-in-progress': task().status === 'IN-PROGRESS',
    'status-done': task().status === 'DONE'
  }"
>
  <header>
    <h3>{{ task().title }}</h3>
    <p>{{ taskStatus() }}</p>
  </header>
  <p>{{ task().description }}</p>
  <form (ngSubmit)="onChangeTaskStatus(task().id, status.value)">
    <select #status>
      <option [selected]="task().status === 'OPEN'" value="open">Open</option>
      <option [selected]="task().status === 'IN-PROGRESS'" value="in-progress">
        In-Progress
      </option>
      <option [selected]="task().status === 'DONE'" value="done">
        Completed
      </option>
    </select>
    <p>
      <button>Change Status</button>
    </p>
  </form>
</article>
