<form (ngSubmit)="onCalculate()">
  <p class="input-group">
    <label for="initialInvestment">
      INITIAL INVESTMENT
      <input [(ngModel)]="initialInvestment" id="initialInvestment" name="initialInvestment" type="number">
    </label>
    <label for="annualInvestment">
      ANNUAL INVESTMENT
      <input [(ngModel)]="annualInvestment" id="annualInvestment" name="annualInvestment" type="number">
    </label>
  </p>
  <p class="input-group">
    <label for="expectedReturn">
      EXPECTED RETURN
      <input [(ngModel)]="expectedReturn" id="expectedReturn" name="expectedReturn" type="number">
    </label>
    <label for="duration">
      DURATION
      <input [(ngModel)]="duration" id="duration" name="duration" type="number">
    </label>
  </p>
  <button type="submit">CALCULATE</button>
</form>
